<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Task</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <div class = "login">
        <div class="text-center mt-4 name">
            Tambah Wishlist
        </div>
    
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td><input class=submit type="submit" value="Tambah"></td>
                </tr>
            </table>
        </form>
        <script>
            $(document).ready(function () {
            $("form").submit(function (event) {
            var formData = {
                name: $("#nama_barang").val(),
                email: $("#harga_barang").val(),
                superheroAlias: $("#deskripsi").val(),
            };
        
            $.ajax({
                type: "POST",
                url: "{% url 'wishlist:create_wishlist' %}",
                data: formData,
                dataType: "json",
                encode: true,
            }).done(function (data) {
                console.log(data);
            });
        
            event.preventDefault();
            });
        });
        </script>

    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
    </div>
  </body>
</html>