<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wishlist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <nav class="navbar" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-weight: bold;">Welcome to Your Wishlist, {{nama}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">{{ nama }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'wishlist:logout' %}">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <h5 style="text-align: center;">Nama: </h5>
      <p style="text-align: center;">{{nama}}</p>
      <h5 style="text-align: center;">NPM: </h5>
      <p style="text-align: center;">2106632226</p>
      <table id="wishlisttable" class="table table-striped">
        <tr>
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
        </tr>
        {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
        {% for barang in list_barang %}
            <tr>
                <td>{{barang.nama_barang}}</td>
                <td>{{barang.harga_barang}}</td>
                <td>{{barang.deskripsi}}</td>
            </tr>
        {% endfor %}
        <tbody class="table-group-divider"></tbody>
    </table>
    <h6>Sesi terakhir login: {{ last_login }}</h6>
    <form method="POST" action="">
      {% csrf_token %}
      <table>
          {{ form.as_table }}
          <tr>
              <td></td>
              <td><input class=submit type="submit" value="Tambah"></td>
          </tr>
      </table>
    </form>
    <script type="text/javascript">
      $.getJSON("{% url 'wishlist:send_wishlist_json' %}", function(data) {
              $(data).each(function(i, entry) {
                  $("#wishlisttable > tbody").append($("<tr>")
                      .append($("<td>").append(entry.fields.nama_barang))
                      .append($("<td>").append(entry.fields.harga_barang))
                      .append($("<td>").append(entry.fields.deskripsi)));
              })
              })
  
      .done(function(){
          console.log("data loaded!");
      })
  
      .fail(function(e){
          console.log('error:');
          console.error(e);
      });

      $(document).ready(function () {
            $("form").submit(function (event) {
            var formData = {
                name: $("#nama_barang").val(),
                email: $("#harga_barang").val(),
                superheroAlias: $("#deskripsi").val(),
            };
        
            $.ajax({
                type: "POST",
                url: "{% url 'wishlist:show_wishlist_ajax' %}",
                data: formData,
                dataType: "json",
                encode: true,
            }).done(function (data) {
                console.log(data);
            });
        
            event.preventDefault();
            });
      });
  </script>
</body>
</html>
